.vscode

archive

#curl
curl/curl-*
curl/include
curl/lib
!curl/*.tar.gz

#nghttp2
nghttp2
!nghttp2/*.sh
!nghttp2/*.tar.gz
!nghttp2/*.md


#openssl
openssl
!openssl/*.sh
!openssl/*.tar.gz

#wolfssl
wolfssl/iOS*
wolfssl/output
wolfssl/wolfssl-4.5.0/src/.deps
wolfssl/wolfssl-4.5.0/src/.dirstamp
wolfssl/wolfssl-4.5.0/src/.libs
wolfssl/wolfssl-4.5.0/src/*.o
wolfssl/wolfssl-4.5.0/src/*.lo
wolfssl/wolfssl-4.5.0/src/*.la
wolfssl/wolfssl-4.5.0/tests/.deps
wolfssl/wolfssl-4.5.0/tests/.dirstamp
wolfssl/wolfssl-4.5.0/tests/.libs
wolfssl/wolfssl-4.5.0/tests/*.o
wolfssl/wolfssl-4.5.0/testsuite/.deps
wolfssl/wolfssl-4.5.0/testsuite/.dirstamp
wolfssl/wolfssl-4.5.0/testsuite/.libs
wolfssl/wolfssl-4.5.0/testsuite/*.o
