.vscode

archive

#curl
curl/curl-*
curl/include
curl/lib
!curl/*.tar.gz

#nghttp2
nghttp2
!nghttp2/*.sh
!nghttp2/*.tar.gz
!nghttp2/*.md


#openssl
openssl
!openssl/*.sh
!openssl/*.tar.gz

#wolfssl
wolfssl/iOS*
wolfssl/output
